<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="sourceFilesFolderPath" value="C:\Temp\MigrateIngresToSqlServer\Data"/>
    <add key="LogFolderPath" value="C:\Temp\MigrateIngresToSqlServer"/>
  </appSettings>
  <connectionStrings>
    <add name="DestinationDb" connectionString="Data Source=.\SQLINSTANCE;Initial Catalog=IngresMigration;Integrated Security=SSPI;Connection Timeout=2000"/>
  </connectionStrings>
</configuration>
